name: O365 CLI Commands Test

on: [push]

jobs:
  o365-cli-test-ubuntu:
    runs-on: ubuntu-latest
    name: O365 CLI commands Ubuntu
    
    steps:
    
    - name: Checkout
      uses: actions/checkout@v1
    
    - name: Office 365 CLI Login
      uses: ./
      with:
        ADMIN_USERNAME:  ${{ secrets.username }}
        ADMIN_PASSWORD:  ${{ secrets.password }}
    
    - name: Runscript Bash
      uses: anoopt/o365-cli-runscript-test@master
      with:
        O365_CLI_SCRIPT: o365 spo tenant appcatalogurl get
    
    - name: Runscript PS
      uses: anoopt/o365-cli-runscript-test@master
      with:
        O365_CLI_SCRIPT: o365 spo tenant appcatalogurl get
        IS_POWERSHELL: true

  o365-cli-test-windows:
    runs-on: windows-latest
    name: O365 CLI commands Windows
    
    steps:
    
    - name: Checkout
      uses: actions/checkout@v1
    
    - name: Office 365 CLI Login
      uses: ./
      with:
        ADMIN_USERNAME:  ${{ secrets.username }}
        ADMIN_PASSWORD:  ${{ secrets.password }}
    
    - name: Runscript Bash
      uses: anoopt/o365-cli-runscript-test@master
      with:
        O365_CLI_SCRIPT: o365 spo tenant appcatalogurl get
    
    - name: Runscript PS
      uses: anoopt/o365-cli-runscript-test@master
      with:
        O365_CLI_SCRIPT: o365 spo tenant appcatalogurl get
        IS_POWERSHELL: true

  o365-cli-test-macos:
    runs-on: macos-latest
    name: O365 CLI commands Mac OS
    
    steps:
    
    - name: Checkout
      uses: actions/checkout@v1
    
    - name: Office 365 CLI Login
      uses: ./
      with:
        ADMIN_USERNAME:  ${{ secrets.username }}
        ADMIN_PASSWORD:  ${{ secrets.password }}
    
    - name: Runscript Bash
      uses: anoopt/o365-cli-runscript-test@master
      with:
        O365_CLI_SCRIPT: o365 spo tenant appcatalogurl get
    
    - name: Runscript PS
      uses: anoopt/o365-cli-runscript-test@master
      with:
        O365_CLI_SCRIPT: o365 spo tenant appcatalogurl get
        IS_POWERSHELL: true