name: O365 CLI Test

on: [push]

jobs:
  o365-cli-test:
    runs-on: ubuntu-latest
    name: O365 CLI commands
    
    steps:
    
    - name: Checkout
      uses: actions/checkout@v1

    - name: Login
      uses: ./
      with:
        USERNAME: ${{ secrets.username }}
        PASSWORD: ${{ secrets.password }}
    
    - name: Deploy
      id: deploy
      uses: anoopt/o365-cli-runscript-test@master
      with:
        APP_FILE_PATH: "./solutions/spfx-o-365-cli-action.sppkg"
        SCOPE: "sitecollection"
        SITE_COLLECTION_URL: "https://anoopccdev1.sharepoint.com/sites/testgroup1"
        SKIP_FEATURE_DEPLOYMENT: true
        OVERWRITE: true
    
    - name: ShowAppId
      run: echo "App Id - ${{steps.deploy.outputs.APP_ID}}"