name: O365 CLI Test

on: [push]

jobs:
  o365-cli-test:
    runs-on: ubuntu-latest
    name: O365 CLI commands
    
    steps:
    
    - name: Checkout
      uses: actions/checkout@v1

    
    - name: Runscript
      uses: anoopt/o365-cli-runscript-test@master
      with:
        O365_CLI_SCRIPT: |
          o365 spo mail send --webUrl https://anoopccdev1.sharepoint.com/sites/teamsite --to 'anoop@anoopccdev1.onmicrosoft.com' --subject 'Deployment done' --body '<h2>Office 365 CLI</h2> <p>The deployment is complete.</p> <br/> Email sent via Office 365 CLI GitHub Action.'
          Wr-te-Host 'Ok'