name: O365 CLI Test

on: [push]

jobs:
  o365-cli-test:
    runs-on: windows-latest
    name: Login
    
    steps:
    
    - name: Checkout
      uses: actions/checkout@v1

    - name: Login
      uses: ./
      env:
        USERNAME: ${{ secrets.username }}
        PASSWORD: ${{ secrets.password }}
    
    - name: Runscript
      shell: pwsh
      run: ./scripts/mail.ps1