name: O365 CLI Test

on: [push]

jobs:
  o365-cli-test:
    runs-on: ubuntu-latest
    name: O365 CLI commands
    
    steps:
    
    - name: Checkout
      uses: actions/checkout@v1
    
    - name: Office 365 CLI Login
      uses: anoopt/action-cli-login@master
      with:
        ADMIN_USERNAME:  ${{ secrets.username }}
        ADMIN_PASSWORD:  ${{ secrets.password }}
    
    - name: Deploy
      id: deploy
      uses: anoopt/action-cli-deploy@master
      with:
        APP_FILE_PATH: "./solutions/spfx-o-365-cli-action.sppkg"
        SCOPE: "sitecollection"
        SITE_COLLECTION_URL: "https://anoopccdev1.sharepoint.com/sites/testgroup1"
        OVERWRITE: true
    
    - name: ShowAppId
      run: echo "App Id  ${{steps.deploy.outputs.APP_ID}}"
