name: O365 CLI Test

on: [push]

jobs:
  o365-cli-test:
    runs-on: ubuntu-latest
    name: O365 CLI commands
    
    steps:
    
    - name: Checkout
      uses: actions/checkout@v1

    - name: Login
      uses: ./
      with:
        USERNAME: ${{ secrets.username }}
        PASSWORD: ${{ secrets.password }}
    
    - name: Run-script
      uses: anoopt/o365-cli-runscript-test@master
      with:
        O365_CLI_SCRIPT_PATH: "./scripts/mail.ps1"